body {
    background-color: black;
}

h2 {
    color: white;
}

h5 {
    font-family: 'Roboto';
    margin: 0px;
    color: rgb(122, 122, 122);
}

p {
    font-family: 'Roboto';
    color: rgb(81, 76, 102);
}

button {
    background-color: rgb(252, 124, 5);
    border-radius: 30px;
    color: white;
    font-family: 'Roboto';
    font-weight: 500;
    letter-spacing: 3px;
    padding: 10px;
    margin-top: 10px;
}

button:hover {
    background-color: white;
    border-radius: 30px;
    color:  rgb(252, 124, 5);
    cursor: pointer;
}

.root {
    display: flex;
    align-items: center;
    position: fixed;
    flex-direction: column;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.mainBox {
    display: flex;
    align-items: center;
    background: radial-gradient(circle, rgba(30,28,31,1) 0%, rgba(28,28,38,1) 35%);
    width: 300px;
    height: 300px;
    padding: 20px;
    border-radius: 20px;
}

.ratingText {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.ratingNumbers {
    display: flex;
    justify-content: space-between;
}

.circleBackground {
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgb(56, 56, 75, 0.3);
    width: 40px;
    height: 40px;
    border-radius: 50px;
}

.circleBackground:hover {
    background: rgba(154, 154, 196);
    cursor: pointer;
}

.circleBackground:focus {
    background: rgb(252, 124, 5);
}

.attribution {
    font-size: 11px; 
    text-align: center;
    color: white;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}

.imgCircle {
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgb(56, 56, 75, 0.3);
    width: 40px;
    height: 40px;
    border-radius: 50px;
}

#heading {
    font-family: 'Roboto';
    font-weight: 500;
    margin-top: 15px;
    margin-bottom: 0px;
}

#paragraph {
    color: rgb(86, 87, 105);
    line-height: 1.5;
}

#star {
    width: 15px;
    height: 15px;
}